<div class="container">
    <div class="row">
        <div class="col-12">
            <!-- Logo -->
            <h1><a href="/" id="logo">Sunny Cheung</a></h1>

            <!-- Nav -->
            <nav id="nav">
                <a href="/">About Me</a>
                <a href="/education">Education</a>
                <a href="/projects">Projects</a>
            </nav>
        </div>
    </div>
</div>